@charset "UTF-8";

body{
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #021C1E;
}

h1{
	text-align: center;
	color: #6FB98F;
}

div.cadastro{
	width: 50%;
	margin: auto;
	display: block;
	align-items: center;
	border-color: #6FB98F;
	border-style: solid;
	background-color: #004445;
}

form.cadastro{
	margin: 30px;
	align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #6FB98F;
}

input.cadastro {
	margin: 0px;
	width: 250px;
}

form p {
	margin: 0px;
}

