@charset "UTF-8";

body{
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #021C1E;
}

h1{
	text-align: center;
	color: #6FB98F;
	font-weight: bold;
	margin-bottom: 0px;
}

div.cadastro{
	width: 50%;
	margin: auto;
	display: block;
	align-items: center;
	border-color: #6FB98F;
	border-style: solid;
	background-color: #004445;
}

form.cadastro{
	margin: 20px;
	align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #6FB98F;
}

input.cadastro {
	margin: 5px;
	width: 250px;
	background-color: lightgray;
	color: #2a7c5a;
	font-weight: bold;
}

form p {
	margin: 0px;
	font-weight: bold;
	font-size: 15pt;
	margin-bottom: 30px;
}

form h5{
	font-weight: bold;
}

select.cadastro{
	width: 250px;
	background-color: lightgray;
	color: #2a7c5a;
	font-weight: bold;
}

select option{
	font-weight: bold;
}

input.submitCadastro{
	margin-top: 35px;
	background-color: lightgray;
}
